.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.bar-text {
    font-size: 10px;
}

.drag-line line {
    stroke-width: 3px;
    stroke: #000;
}

.drag-line:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;    
}